@import "./animatios.css";

@import url(https://fonts.googleapis.com/css?family=JetBrains+Mono:100,200,300,regular,500,600,700,800,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: JetBrains Mono, sans-serif;
    text-decoration: none;
    list-style-type: none;
    outline: none;
    border: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    background-color: #f0f0f0;
}

a {
    color: #e5e5e5;
}

i {
    color: #e5e5e5;
    cursor: pointer;
    transition: color .3s;
}

i:hover {
    color: #9a4df3;
}

section {
    min-height: 100vh;
}

h1 {
    animation: changeColor 3s infinite alternate;
}

label {
    font-size: 1.2rem;
}
